<div class="banner">
  <h1 class="text-danger">FarmBNB</h1>
  <p>My Booking Details</p>
</div>

<div class="line">
  <hr>
</div>

<div class="container my-5">
  <div class="row justify-content-center">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="bookings-greeting"><%= current_user.first_name.capitalize %>'s bookings</h3>
          <p><%= pluralize(current_user.bookings.count, "booking") %></p>
        </div>
          <div class="card-body">
          <% @bookings.each do |booking| %>

            <div class="d-flex justify-content-between align-items-center pe-3">
              <%= link_to animal_path(booking.animal), class: "text-decoration-none" do  %>
              <h2 class="card-title text-danger"><%= booking.animal.name %></h2>
              <% end %>


              <%= link_to edit_booking_path(booking, animal:booking.animal), class: 'btn btn-danger text-white text-decoration-none col-4' do %>
              <p class="mb-0"><i class="fa-solid fa-pen-to-square"></i> Edit booking</p>
              <% end %>
            </div>
            <div class="d-flex justify-content-between align-items-center pe-3">
              <div class="dates_details">
                <p class="mb-0">From: <%= booking.start_date %></p>
                <p class="mb-0">To: <%= booking.end_date %></p>
              </div>
              <%= link_to booking_path(booking), class: "btn btn-danger text-white text-decoration-none col-4",
                  data: {turbo_method: :delete, turbo_confirm: "Cancel booking for '#{booking.animal.name}'?"} do %>
                  <p class="mb-0"><i class="fa-regular fa-trash-can"></i> Cancel booking</p>
              <% end %>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

<%# ======================================================== %>

<div class="col-md-6">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3>Bookings for <%= current_user.first_name.capitalize %>'s animals</h3>
      <p><%= pluralize(current_user.animals.map { |animal| animal.bookings.count }.sum, "booking") %></p>
    </div>
    <div class="card-body">
      <% current_user.animals.each do |animal| %>
        <% animal.bookings.each do |booking| %>
          <div class="d-flex justify-content-between align-items-center pe-3">
              <%= link_to animal_path(booking.animal), class: "text-decoration-none" do  %>
              <h2 class="card-title text-danger"><%= booking.animal.name %></h2>
              <% end %>
              <p class="pe-3 mb-0">Booked by: <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %> </p>
          </div>
          <div class="d-flex justify-content-between align-items-center pe-3">
              <div class="dates_details">
                <p class="mb-0">From: <%= booking.start_date %></p>
                <p class="mb-0">To: <%= booking.end_date %></p>
              </div>
              <%= link_to "#", class: "btn btn-danger text-white text-decoration-none col-4",
                  data: {turbo_method: :delete, turbo_confirm: "Cancel booking for '#{booking.animal.name}'?"} do %>
                  <p class="mb-0"><i class="fa-solid fa-check"></i> Confirm booking</p>
              <% end %>
            </div>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


  </div>
</div>

<%# i tried to implement 'delete' feature on the animal booking made by another user but no success. i keep getting errors from pundit.
The feature is supposed to allow a user (owner of the animal) to delete the booking oh his animal made by another user. Hence allow the user to delete his own booking and other users' bookings. My research lead me to 'admin' role and some sort of special permission on users but i was unable to successfully code it. So i ended up removing the 'delete' feature. %>
