<div class="banner">
    <h1 class="text-danger">FarmBNB</h1>
    <p>A Selection Of Farm Animals For Rent</p>
</div>

<div class="line">
<hr>
</div>

<%# <div class="subtitle-container">
<div>
  <h2>Our Top Most-Rented Animals</h2>
</div>

<div class="flexbox">
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <h2>John</h2>
        </div>
    </div>
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <div>
            <h2>Jack</h2>
          </div>
        </div>
    </div>
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <div>
            <h2>Albert</h2>
          </div>
        </div>
    </div>
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <div>
            <h2>Hector</h2>
          </div>
        </div>
    </div>
</div> %>


<%# ========================================== %>
<br>
<div class="container p-3 col-7", id="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @animals.each_with_index do |animal, index| %>
          <div class="carousel-item <%= index == 0 ? "active" : "" %>">
            <% if animal.photo.present? %>
              <%= cl_image_tag(animal.photo.key, class: "d-block w-100", style: "object-fit: cover; height: 500px;") %>
            <% else %>
              <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg" class="d-block w-100" alt="Default Image" style="object-fit: cover; height: 500px;">
            <% end %>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-1 fw-bold"><%= animal.name.capitalize %></h5>
              <p><%= animal.description %></p>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<br>

<%# ============================================= %>

<div class="d-flex justify-content-center mt-3">
  <%= link_to "View Our Entire Catalogue", animals_path, class: "btn btn-danger text-white col-sm-3 p-3" %>
</div>
<br>

<div class="line">
<hr>
</div>

<div class="flexbox">
  <div class="card-homepage">
          <h4><mark>Read More About FarmBNB</mark></h4>
          <hr>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolorum eveniet, harum maiores neque nulla ex possimus perferendis? Autem perferendis veritatis aliquam praesentium voluptates quibusdam enim culpa accusamus et placeat!</p>
  </div>
  <div class="card-homepage">
          <h4><mark>Animals Are Certified Happy</mark></h4>
          <hr>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur veritatis illum magnam optio maiores rem expedita dolorum odit velit sapiente odio, culpa quia pariatur quae ipsam error recusandae, totam eaque.</p>
  </div>
  <div class="card-homepage">
          <h4><mark>We Treat & Feed Them Well</mark></h4>
          <hr>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe molestias velit temporibus consequuntur! Amet repudiandae optio eos nihil soluta cupiditate. Explicabo iure nemo vero laudantium numquam? A corrupti nisi debitis.</p>
  </div>
</div>
