<div class="banner">
    <h1>FarmBnb</h1>
</div>

<div class="line">
<hr>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Animal Details
        </div>
        <div class="card-body">
          <% if @animal.photo.key.present? %>
            <%= cl_image_tag(@animal.photo.key, class: "card-img-top") %>
          <% else %>
            <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg" class="card-img-top" alt="Default Image">
          <% end %>

          <div class="d-flex justify-content-between align-items-center pe-3">
            <h4 class="card-title pt-3"><%= @animal.name %></h4>
              <%= link_to edit_animal_path, class: 'text-danger text-decoration-none' do %>
              <i class="fa-solid fa-pen-to-square"></i>
              <% end %>

          </div>
          <p class="card-text text-secondary">Categoty: <%= @animal.category.name.capitalize %></p>
          <p class="card-description"><%= @animal.description %></p>
          <h5 class="card-price"><%= number_to_currency(@animal.price) %> / day</h5>

          <div class="d-flex justify-content-end p-3">
            <%= link_to animal_path(@animal), class: "text-danger text-decoration-none",
            data: {turbo_method: :delete, turbo_confirm: "Delete '#{@animal.name}' from the list?"} do %>
            <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card  sticky-top">
        <div class="card-header">
          Booking Details
        </div>
        <div class="card-body">

          <%= render "shared/form" %>
          <div class="booking-info px-5">
            <div class="d-flex justify-content-between">
              <p><%= number_to_currency(@animal.price) %> x *number of days </p>
              <p>$ **</p>
            </div>
            <div class="d-flex justify-content-between">
              <p>Delivery fee </p>
              <p>$ **</p>
            </div>
          </div>
          <hr>
          <div class="d-flex justify-content-between p-3">
            <h4>Total Cost:</h4>
            <h4>$<%= @animal.price %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <%# <%= link_to "Back to animals", animals_path, class: "text-decoration-none" %>
</div>
