<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Animal Details
        </div>
        <div class="card-body">
          <% if @animal.photo.key.present? %>
            <%= cl_image_tag(@animal.photo.key, class: "card-img-top") %>
          <% else %>
            <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg" class="card-img-top" alt="Default Image">
          <% end %>
          <h4 class="card-title pt-3"><%= @animal.name %></h4>
          <p class="card-text text-secondary">Categoty: <%= @animal.category.name.capitalize %></p>
          <p class="card-description"><%= @animal.description %></p>
          <h5 class="card-price"><%= number_to_currency(@animal.price) %> / day</h5>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card  sticky-top">
        <div class="card-header">
          Booking Details
        </div>
        <div class="card-body">

          <%= render "shared/form" %>
          <div class="booking-info px-5">
            <div class="d-flex justify-content-between">
              <p><%= number_to_currency(@animal.price) %> x **number of days** </p>
              <p>**</p>
            </div>
            <div class="d-flex justify-content-between">
              <p>extra charge </p>
              <p>**</p>
            </div>
          </div>
          <hr>
          <div class="d-flex justify-content-between p-3">
            <h4>Total Cost:</h4>
            <h4>$<%= @animal.price %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <%= link_to "Back to animals", animals_path, class: "text-decoration-none" %>
</div>

<div class="d-flex justify-content-center">
    <%= link_to "Edit your animal", new_animal_path, class: "btn btn-danger text-white col-sm-4 rounded-3 p-3" %>
  </div>
