<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Animal Details
        </div>
        <div class="card-body">
          <%# <%= cl_image_tag(@product.photo.key, class: "card-img-top") %> %>
          <h4 class="card-title"><%= @animal.name %></h4>
          <p class="card-text"><%= @animal.description %></p>
          <p class="card-text"><%= number_to_currency(@animal.price) %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Booking Details
        </div>
        <div class="card-body">
          <p>a pratial from booking will be added here</p>
          <%# <h5 class="card-title"><%= @animal.name %></h5> %>
          <%# <%= form_for @booking do |f| %> %>
            <%# <div class="form-group"> %>
              <%# <%= f.label :start_date %> %>
              <%# <%= f.select :start_date, options_for_select((Date.current..Date.current + 30.days).map{ |date| [date.strftime("%B %d, %Y"), date] }), {}, class: "form-control" %> %>
            </div>
            <%# <div class="form-group"> %>
              <%# <%= f.label :end_date %> %>
              <%# <%= f.select :end_date, options_for_select((Date.current..Date.current + 30.days).map{ |date| [date.strftime("%B %d, %Y"), date] }), {}, class: "form-control" %> %>
            </div>
            <%# <%= f.submit "Book Now", class: "btn btn-primary" %> %>
          <%# <% end %> %>
        </div>
      </div>
    </div>
  </div>
</div>
