<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Animal Details
        </div>
        <div class="card-body">
          <%# <%= cl_image_tag(@product.photo.key, class: "card-img-top") %> %>
          <h4 class="card-title"><%= @animal.name %></h4>
          <p class="card-text">Categoty: <%= @animal.category.name.capitalize %></p>
          <p class="card-text"><%= @animal.description %></p>
          <p class="card-text"><%= number_to_currency(@animal.price) %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Booking Details
        </div>
        <div class="card-body">
          <div>
            <h5 class="card-info p-3">$<%= @animal.price %> / day</h5>
          </div>
          <%= render "shared/form" %>
          <hr>
          <div class="d-flex justify-content-between p-3">
            <h4>Total Cost:</h4>
            <h4>$<%= @animal.price %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Back to animals", animals_path, class: "text-decoration-none" %>
</div>
